.row {
    margin-left: 20px;
    color: seashell;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.row-tiles {
    display: flex;
    overflow-y: scroll;
    overflow-x: scroll;
    padding: 30px;
}

.row-tiles::-webkit-scrollbar {
    display: none;
    margin-left: 20px;
}

.row-tile {
    object-fit: contain;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms;
}

.row-tile:hover {
    transform: scale(1.5);
    opacity: 1;
}

.row-title {
    font-size: 28px;
}

.row-title:hover {
    cursor: pointer;
}

